$colors: ();
$colors: map-merge((
  "primary": #004aac,
  "secondary": #febc5a,
  "tertiary": #9a9a9a,
  "light-gray": #F4F4F4,
  "dark-gray": #dadadb,
  "black": #222222,
  "border": #2222220f,
  "body-text": #222222
), $colors);

$theme-colors: ();
@each $color, $value in $colors {
	$theme-colors: map-merge((
	   $color: $value
	), $theme-colors);
}
