$colors: ();
$colors: map-merge((
  "primary": blue,
  "secondary": yellow,
  "light-gray": #f7f7f7,
  "dark-gray": #9c9c9c,
  "body-text": #212529
), $colors);

$theme-colors: ();
@each $color, $value in $colors {
	$theme-colors: map-merge((
	   $color: $value
	), $theme-colors);
}
