$colors: ();
$colors: map-merge((
  "primary": #004aac,
  "secondary": #febc5a,
  "light-gray": #F4F4F4,
  "dark-gray": #A3A4A5,
  "black": #222222,
  "body-text": #212529
), $colors);

$theme-colors: ();
@each $color, $value in $colors {
	$theme-colors: map-merge((
	   $color: $value
	), $theme-colors);
}
