//two column layout
 .two-column-flexible-layout {
     img {
         width: 100%;
     }
 }

 // product cat slider
 .product-cat-slider {
    img {
        width: 100%;
        height: auto;
    }
    .slick-arrow {
        z-index: 9;
        &.slick-prev {
            left: 15px;
        }
        &.slick-next {
            right: 15px;
        }
    }
    .product-cat-slide {
        position: relative;
        &:hover {
            .content {
                bottom: 0;
            }
            a{
                color: #febc5a;
            }
        }
        @include media-breakpoint-up('xs'){
            padding: 0 1rem;
        }
        .content {
            // $bg_color: theme-color('primary');
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            overflow: hidden;
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            color: #febc5a;
            background-color: #004bac94;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            margin-bottom: 0;
        }
    }
}

// product slide

#single-product-slider {
    img {
        width: 100%;
    }
}
#thumbnail-slider {
    .slick-slide {
        @include media-breakpoint-up(sm){
            padding: 1rem;
        }
    }
    img {
        height: auto;
    }
}