//
.skip-link.screen-reader-text {
    position: absolute;
    left: 9999;
    visibility: hidden;
}

// single image slider
.single-image-slider-wrapper {
    .slide-image {
        img {
            width: 100%;
        }
    }
}

// -----------------------------------------------------
// Account Dashboard


.wpuf-column{
    display: flex;
  }

.wpuf-dashboard-container{
    background: #F4F4F4;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    .profile-banner{
        background: rgba(0, 0, 0, 0.253);
        height: 15em;
        position: relative;
        overflow: hidden;
        img:first-child{
            width: 100%;
            height: auto;
            position: relative;
        }
        img:nth-child(2){
             position: absolute;
            width: 11em;
            height: auto;
            left: 5%;
            margin-top: 1em;
        }
        .profile-welcome{
            width: 50%;
            position: absolute;
            top: 2em;
            left: 25%;
            h2{
                color: white;
                font-size: 3rem;
            }
        }
    
        .wpuf-dashboard-navigation{
            width: 100%;
            margin-top: 5em;
            position: absolute;
            bottom: 0;
            ul{
                display: flex;
                width: 50%;
                height: auto;
                margin: auto;
                    :hover{
                        background:#004aac;
                    }
                li{
                    background: #222222;
                    width: 100%;
                    height: auto;
                    margin: auto;
                    text-align: center;
                    margin-right: 5px;
                
                    a{
                        color: white;
                    }
                }
                
            }
        }

    }
    
    .wpuf-dashboard-content{
        margin-top: 5em;
        margin-bottom: 5em;
        width: 100% !important;
        height: auto;
        float: none !important;
        form{
            width: 100%;
            height: auto;
            margin: auto;
            padding: 3em;
           
             .wpuf-submit-button{
                background: #222222 !important;
                border: 0px !important;
                border-radius: 0 !important;
                box-shadow: 0 !important;
                padding: 0.375rem 0.75rem;
                text-shadow: none !important;
                color: white !important;
                width: auto;
                margin: auto;
                :hover{
                    background: #004aac;
                }
            }
            .profile_image, .profile_banner {
                display: flex;
                flex-direction: column;
            }
            li .wpuf-label{
                width: 50% !important;
            }
            .wpuf-fields{
                .textareafield{
                    width: 100%;
                    }
                .textfield, .textareafield, .password{
                    background: none;
                    border: none;
                    border-bottom: 1px solid black;
                }
            }
            .pass-strength-result {
            
                border-bottom: 1px solid black;
                float: left;
                margin: 0;
                padding: 3px 5px;
                text-align: center;
                width: 200px;
                display: none;
                background-color: none !important;
                border-color: none !important;
                
               
            }
             
        }
    }
}
// end of Dashboard -----------



// Start of Product / Industry --------


@media only screen and (min-width: 325px){


// Home Page ---------------
    .front-page-container{
        .featured-product{
            position: relative;
            width: 100%;
            height: auto;
            .featured-product-content{
                position: relative;
                height: 35%;
                background: #004bace8;
                top: -35%;
                padding: 1em;
                display: flex;
                flex-direction: column;
                // color: #222222;
                .btn{
                    border-radius: 0;
                    margin-bottom: 0 !important;
                }
            }
        }
    }


// Home Page End -----------

      .categories-title{
        width: 10em;
        border-bottom: 1px solid #222222;
        margin: 2em;
        margin-top: 5em;
    }
    .product-categories{
        .product-category{
            position: relative;
            max-width: 100%;
            height: auto;
            z-index: 1;
            img{
                width: 100%;
                height: auto;
            }
            .product-category-name{
                position: relative !important;
                z-index: 2;
                max-width: 100%;
                height: 35%;
                background: #004bace8;
                top: -35%;
                h3{
                    padding: .5em;
                    text-align: center;
                    padding-top: 1em;
                    a{
                        color:#febc5a;
                        bottom: 0;
                        font-size: 1.2rem;
                        font-weight: 100;
                    }
                }
            }
        }
        .product-description{
            display: none;
        }
    }
}





@media only screen and (min-width: 768px){
    // Home Page ---------------
  
    .front-page-container{
        max-width: 660px !important;
     
    }


// Home Page End -----------

}




@media screen and (max-width: 768px) {

    // User Dashboard Content
    .wpuf-dashboard-container{
        margin-top: 0 ;
        max-width: 100% !important;
        form{
            padding: 0 !important;
        }
        .profile-banner{
            .wpuf-dashboard-navigation{
                margin-bottom: 0px !important;
                ul{
                    width: 95% !important;
                }
            }
            .profile-welcome{
                left: 40%;
                h2{
                    font-size: 1.5rem;
                }
            }
        }
        
        .wpuf-dashboard-content{
            .wpuf-column{
                display: block;
                .wpuf-column-inner-fields{
                    width: 100% !important;
                } 
                .wpuf-label{
                    width: 100% !important;
                }
                .wpuf-fields{
                    width: 100% !important;
                }      
            }
        
        
            .wpuf-submit{
                width: 50%;
                margin: auto;
                padding-top: 3em;
            }
        
        }
        ul.wpuf-form li .wpuf-fields{
            display: inline;
             ul.wpuf-attachment-list li {
            width: auto !important;
            height: auto;
            margin: auto;
            }
        }
    }
}


@media only screen and (min-width: 992px){
    // Home Page ---------------
  
    .front-page-container {
        max-width: 100% !important;
     
    }


// Home Page End -----------

}

@media screen and (max-width: 991px){
    
        .wpuf-dashboard-container{
            max-width: 100% !important;
            .profile-banner{
                height: 10em ;
                img:nth-child(2){
                    width: 6em;
                }
                .profile-welcome{
                    h2{
                        color: white;
                        font-size: 2rem;
                    }
                }
                .wpuf-dashboard-navigation{
                    margin-bottom: 0px !important;
                    ul{
                        width: 100% !important;
                    }
                }
            }
        }
}


@media only screen and (min-width: 1400px){
  
    .product-categories{
        margin: 2em;
        .product-category{
            flex: 0 0 25% !important;
       
        }
    }
}
