//
.skip-link.screen-reader-text {
    position: absolute;
    left: 9999;
    visibility: hidden;
}

// single image slider
.single-image-slider-wrapper {
    .slide-image {
        img {
            width: 100%;
        }
    }
}

// -----------------------------------------------------
// Account Dashboard


.wpuf-column{
    display: flex;
  }

.wpuf-dashboard-container{
    background: #F4F4F4;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    .profile-banner{
        background: rgba(0, 0, 0, 0.253);
        height: 10em;
        position: relative;
    
        .wpuf-dashboard-navigation{
            width: 100%;
            margin-top: 5em;
            position: absolute;
            bottom: 0;
            ul{
                display: flex;
                width: 50%;
                height: auto;
                margin: auto;
                    :hover{
                        background: #004aac;
                        a{
                            color: white;
                        }
                    }
                li{
                    background: #febc5a;
                    width: 100%;
                    height: auto;
                    margin: auto;
                    text-align: center;
                    margin-right: 5px;
                
                    a{
                        color: #222222;
                    }
                }
                
            }
        }

    }
    
    .wpuf-dashboard-content{
        margin-top: 5em;
        margin-bottom: 5em;
        width: 100% !important;
        height: auto;
        float: none !important;
        form{
            width: 100%;
            height: auto;
            margin: auto;
            padding: 3em;
           
            .wpuf-submit-button{
                background: #004aac !important;
                border: 0px solid white !important;
                border-radius: 0 !important;
                box-shadow: 0 !important;
                padding: 0.375rem 0.75rem;
                text-shadow: none !important;
                color: white !important;
                width: auto;
                margin: auto;
            }
            .profile_image, .profile_banner {
                display: flex;
                flex-direction: column;
            }
            li .wpuf-label{
                width: 50% !important;
            }
            .wpuf-fields{
                .textareafield{
                    width: 100%;
                    }
                .textfield, .textareafield, .password{
                    background: none;
                    border: none;
                    border-bottom: 1px solid black;
                }
            }
            .pass-strength-result {
            
                border-bottom: 1px solid black;
                float: left;
                margin: 0;
                padding: 3px 5px;
                text-align: center;
                width: 200px;
                display: none;
                background-color: none !important;
                border-color: none !important;
                
               
            }
             
        }
    }
}






@media screen and (max-width: 767px) {

    // User Dashboard Content
    .wpuf-dashboard-container{
        margin-top: 0 ;
        max-width: 100% !important;
        form{
            padding: 0 !important;
        }
        .profile-banner{
            .wpuf-dashboard-navigation{
                margin-bottom: 0px !important;
                ul{
                    width: 95% !important;
                }
            }
        }
        
        .wpuf-dashboard-content{
            .wpuf-column{
                display: block;
                .wpuf-column-inner-fields{
                    width: 100% !important;
                } 
                .wpuf-fields{
                    width: 100% !important;
                }      
            }
        
        
            .wpuf-submit{
                width: 50%;
                margin: auto;
                padding-top: 3em;
            }
        
        }
        ul.wpuf-form li .wpuf-fields{
            display: inline;
             ul.wpuf-attachment-list li {
            width: 25%;
            height: auto;
            }
        }
    }
}

@media screen and (max-width: 991px){
    
        .wpuf-dashboard-container{
            max-width: 100% !important;
            .profile-banner{
                .wpuf-dashboard-navigation{
                    margin-bottom: 0px !important;
                    ul{
                        width: 70% !important;
                    }
                }
            }
        }
}


