// Above footer --------------------------------
.footer-above{

    p{
        color: #212529;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .btn{
        border-radius: 0 !important;
    }
}

// Footer ------------------------
footer {
    a {
        font-size: 15px;
        color: #fff;
        &:hover {
            color: theme-color('secondary');
        }
    }
    .menu {
        margin-bottom: 0;
        li {
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
}

.footer-above-ctas {
    > a:not(:last-child){
        margin-right: 10px;
    }
}