header {
  padding-left: 10em;
  margin-bottom: 1em;

  .navbar {
    padding: 5px !important;
    padding-left: 5em !important;
  }
  a.nav-link {
    color: white;
    &:hover {
      color: theme-color("secondary");
    }
  }
  .header-search {
    flex-grow: 1;
    #ajaxsearchlite1 .probox .proinput input,
    div.asl_w .probox .proinput input {
      color: #222 !important;
    }
  }

  .navbar-bottom {
    background-color: white !important;
    height: 35px;
  }

  .main-nav-wrapper {
    background-color: #004aac;
  }
  .top-navbar-stripes {
    height: 60px;
    background: linear-gradient(0deg, #febc5a 40%, white 25%);
  }

  .bottom-navbar-stripes {
    height: 10px;
    background: linear-gradient(0deg, #a3a4a5 80%, white 50%);
  }

  .navbar-brand {
    position: absolute;
    z-index: 5;
    width: 7em;
    height: auto;
    left: -5em;
    top: -3.3em;
  }

  ul.dropdown-menu {
    a.dropdown-item {
      &:hover,
      &:active {
        background-color: theme-color("primary");
        color: #fff;
      }
    }
  }
  .navbar-brand img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding-left: 0;

    .top-navbar-stripes {
      background: #febc5a;
      height: 25px;
    }

    .astm-search-menu {
      display: none;
    }

    .navbar {
      padding-left: 0 !important;

      .navbar-nav {
        padding-left: 2em;
      }
      .navbar-brand {
        position: static !important;
        padding-left: 1em;
        width: 125px;

        img {
          width: 100%;
          height: auto;
        }
      }
      .mobile-search {
        flex: 1;
        position: inherit;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 514px) {
  header {
    .navbar {
      .navbar-brand {
        width: 75px;
        padding-left: 0 !important;
        margin: auto;
      }
      .mobile-search {
        margin: auto;
        .is-form-style {
          width: 95%;
          margin: auto;
        }
      }
    }
  }
}
