header {
    padding-left: 10em;
    
    .navbar{
        padding: 5px !important;
        padding-left: 5em !important;
    }
    a{
        color: white;
    }
 
   .navbar-bottom{
       background-color: white !important;
       height: 35px;
   }

   .main-nav-wrapper{
       background-color: #004aac;
   }
     .top-navbar-stripes{
       height: 60px;
       background: linear-gradient(0deg, #febc5a 40%, white 25%);
   }

   .bottom-navbar-stripes{
       height: 10px;
       background: linear-gradient(0deg, #A3A4A5 80%, white 50%);
   }

    .navbar-brand{
        position: absolute;
        z-index: 5;
        width: 7em;
        height: auto;
        left: -5em;
        top: -3.3em;
    }
    .navbar-brand img{
      
        width: 100%;
        height: auto;
    }

}






@media screen and (max-width: 990px) {

    header{
        padding-left: 0;

        .top-navbar-stripes{
            background: #febc5a;
            height: 25px;
        }
        .navbar{
            padding-left: 0 !important;
        
            .navbar-nav{
                padding-left: 2em;
            }
            .navbar-brand{
            position: static !important;
            padding-left: 1em;
        
                img{
                    width: 70%;
                    height: auto;
                }
            }
        }
    }
}

