$font_family: 'Helvetica', 'Arial', sans-serif;
$headings_font_family:'Helvetica', 'Arial', sans-serif;
$h1_size:3rem;
$h2_size:2rem;
$h3_size:1.7rem;
$h4_size:1.5rem;
$h5_size:1.3rem;
$h6_size:1rem;
$body_font_size:1rem;
$primary_color:blue;
$secondary_color:green;

body {
	font-family: $font_family;
}

p {
	font-size: $body_font_size;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $headings_font_family;
	background-color: $primary_color;
}
h1, .h1 {
	font-size: $h1_size;
}

h2, .h2 {
	font-size: $h2_size;
}

h3, .h3 {
	font-size: $h3_size;
}

h4, .h4 {
	font-size: $h4_size;
}

h5, .h5 {
	font-size: $h5_size;
}

h6, .h6 {
	font-size: $h6_size;
}

img {
    max-width: 100%;
}

section {
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    max-width: 100%;
}